/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

a.btn.btn-success {
    color: #fff;
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.jumbotron {
	text-align: center;
	background-image: url(../);
	background-color: #f1c40f;
	color: #101010;

}

.jumbotron {
    margin-bottom: 0px;
}

.modal-content iframe {
    margin-left: 80px;
    margin-top: 5px;
}

.modal-dialog {
    margin-top: -174px;
    position: absolute;
    margin-left: -300px;
    left: 50%;
    top: 50%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    font-size: 30px;
    width: 60px;
    opacity: .5;
}
}

.btn-lg {
	font-size: 24px;
	color: 
}

ul.nav, .jumbotron h1 {
	font-family: 'Arvo', courier, serif;
	line-height: 4;
}

ul.nav {
	font-size: 12px;
}

.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 60px;
}

.homepage {
	text-align: center;
}

.homepage h2 {
	color: #101010;
    text-transform: uppercase;
    font-family: 'Arvo', courier, serif;
}

.homepage h3 {
	color: #101010;
    text-transform: uppercase;
    font-family: "Arvo",courier, serif;
    font-size: 28px;

}

.row {
	text-align: center;
    margin-right: -600px;

}

.homepage p {
	font-weight: 300;
	font-size: 21px;
	color: #101010;

}

.homepage a{
	color: #2c3e50;
}

.homepage hr {
    border-color: #f1c40f;
    width: 280px;
    margin-top: 15px;
}

#join {
	background-color: #f1c40f;
}

#join {
	padding-top: 30px;
    padding-bottom: 30px;
}

#join p {
	color: #101010;
}

#join hr {
	border-color: #101010;
}

#about-us {
	background-color: #101010;
}

#about-us {
    padding-top: 30px;
    padding-bottom: 30px;
}

#about-us p {
	color: #f1c40f;
}

#about-us h2 {
	color: #f1c40f;
}

#about-us hr {
	width: 160px;
}

footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #f1c40f;
    background-color: #101010;
    margin-bottom: 30px;
}

footer {
	position: relative;
}

#back-to-top {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#back-to-top  a {
	color: #f1c40f;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) { 
	.jumbotron h1 {
		font-size: 24px;
	}
	.jumbotron p {
		font-size: 16px;
		padding: 0;
	}

	.btn-lg {
		font-size: 18px;
	}

	.homepage p {
		font-size: 18px;
	}



}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 991px) {
 	.jumbotron h1 {
		font-size: 44px;
	}

	.jumbotron p {
		padding: 0 10px;
	}

	#join .col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1199px) { 
	.jumbotron h1 {
		font-size: 56px;
		margin-bottom: 30px;
	} 
}
