/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
	text-align: center;
	background-image: url(../);
	background-color: #f1c40f;
	color: #ecf0f1;

}

.btn-lg {
	font-size: 24px;
	color: 
}

ul.nav, .jumbotron h1 {
	font-family: 'Arvo', courier, serif;
	line-height: 4;
}

ul.nav {
	font-size: 12px;
}

.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 60px;
}

.homepage {
	text-align: center;
}

.homepage h2 {
	color: #f1c40f;
    text-transform: uppercase;
    font-family: 'Arvo', courier, serif;
}

.homepage h3 {
	color: #f1c40f;
    text-transform: uppercase;
    font-family: arvo,courier,sans-serif;
    font-size: 28px;
}

.homepage p {
	font-weight: 300;
	font-size: 21px;
}

.homepage a{
	color: #f1c40f;
}