/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
	text-align: center;
	background-image: url(../);
	background-color: #f1c40f;
	color: #ecf0f1;

}

.jumbotron {
    margin-bottom: 0px;
}

.btn-lg {
	font-size: 24px;
	color: 
}

ul.nav, .jumbotron h1 {
	font-family: 'Arvo', courier, serif;
	line-height: 4;
}

ul.nav {
	font-size: 12px;
}

.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 60px;
}

.homepage {
	text-align: center;
}

.homepage h2 {
	color: #2c3e50;
    text-transform: uppercase;
    font-family: 'Arvo', courier, serif;
}

.homepage h3 {
	color: #2c3e50;
    text-transform: uppercase;
    font-family: "Arvo",courier, serif;
    font-size: 28px;
}

.homepage p {
	font-weight: 300;
	font-size: 21px;
	color: #ecf0f1;

}

.homepage a{
	color: #2c3e50;
}

.homepage hr {
    border-color: #f1c40f;
    width: 280px;
    margin-top: 15px;
}

#get-started-today {
	background-color: #f1c40f;
}

#get-started-today {
	padding-top: 30px;
    padding-bottom: 30px;
}

#get-started-today p {
	color: #ecf0f1;
}

#get-started-today hr {
	border-color: #2c3e50;
}

#who-we-are {
	background-color: #2c3e50;
}

#who-we-are {
    padding-top: 30px;
    padding-bottom: 30px;
}

#who-we-are p {
	color: #ecf0f1;
}

#who-we-are h2 {
	color: #f1c40f;
}

#who-we-are hr {
	width: 160px;
}